<?php

return array(
        'zopentok-conf' => array(
           /**
        	* api key opentok
        	*/
        	'api_key'     =>  'xxxxxxxx',
        	
           /**
        	* api secret opentok
        	*/
        	'api_secret'  =>  'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx',
        	'expire_time' => <number>,
           /**
        	* Adapter Http Client
        	*
        	*/
        	'adapter'     => 'http-adapter',
        ),
        'http-adapter' => array(
		    'adapter'    => 'Zend\Http\Client\Adapter\Proxy',
		    'proxy_host' => 'proxy.name.com',
		    'proxy_port' =>  8000,
		    'proxy_user' => 'buse974',
		    'proxy_pass' => 'zopentok'
		)
);




